<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">

	<context:component-scan base-package="com.rdbusiness.rest.service" />
	<context:component-scan base-package="com.rdbusiness.application.spring" />

<!-- 	<mongo:mongo id="mongo" host="mongodb69463-app-zero.jelasticlw.com.br" port="27017" /> -->
<!--  	<mongo:mongo id="mongo" host="ds041144.mongolab.com" port="41144" />  -->
	<mongo:mongo id="mongo" host="localhost" port="27017" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg value="dbzero" />
		<constructor-arg name="userCredentials" ref="userCredentials"/>
	</bean>

	<bean id="userCredentials" class="org.springframework.data.authentication.UserCredentials">
	  <constructor-arg name="username" value="admin" />
	  <constructor-arg name="password" value="1234" />
	</bean>

	<mongo:repositories base-package="com.rdbusiness.mongodb.repo" />

</beans>